{% extends "form.html" %}
{% block title %}Edit Category{% endblock %}
{% block heading %}<h1 class="heading">Grocery Store</h1>{% endblock %}

{% block formHeading %}<h1 class="form-heading">Edit Category</h1>{% endblock %}

{% block inputs %} 
<input type="text" class="form-control" placeholder="Name" value="{{ category['name'] }}" name="name" required autofocus><br>
<input type="text" class="form-control" placeholder="Description" value="{{ category['description'] }}" name="description" required>
<br>
{% endblock %}

{% block submitButtons %}
<button class="btn" type="submit">Save Changes</button>
{% endblock %}