Flask
Flask-Login
Flask-SQLAlchemy
SQLAlchemy
Jinja2
flask-restful
flask
Werkzeug
itsdangerous
requests
twilio
stripe
scikit-learn
numpy
Flask-JWT-Extended
pytest
virtualenv
Flask-Limiter
Flask-Migrate
python-dotenv
flask-cors
flask-restx==1.2.0
beautifulsoup4