<!DOCTYPE html>
<html>
<head>
  <title>{{ product['name'] }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <header>
      <h1 class="text-center">Product : {{ product['name'] }}</h1>
      <a href="#">Back</a>
    </header>
  <br>
    <div class="row">
      <div class="col-md-4">
         <img src="https://s1.picswalls.com/wallpapers/2017/12/11/nature-desktop-background_123026895_313.jpg" class="img-fluid">
      </div>
  
      <div class="col-md-4">
         Product details
      </div>
  
      <div class="col-md-4">
        buy now<br>
        add to cart
      </div>
    </div>
  <br>
  <br>
  <hr>
  <br>

    <section class="mt-4">
      Comment section content 
    </section>
  </div>

  <!-- Include Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
