{% extends "form.html" %}
{% block heading %}<h1 class="heading">Grocery Store</h1>{% endblock %}

{% block formHeading %}<h1 class="form-heading">Create an account</h1>{% endblock %}

{% block inputs %}
<input type="text" class="form-control" placeholder="Name" name="name" required autofocus><br>
<input type="text" class="form-control" placeholder="Username" name="username" required><br>
<input type="text" class="form-control" placeholder="Email address" name="email" required><br>
<input type="tel" class="form-control" placeholder="Phone number" name="phone" required><br>
{% block sub_inputs %}
<input type="text" class="form-control" placeholder="Address" name="address" required><br>
{% endblock %}
{% endblock %}

{% block passwordInput %} 
<input type="password" class="form-control" placeholder="Password" name="password" required><br>
{% endblock %} 

{% block submitButtons %}  
<button class="btn" type="submit">Sign up</button>
{% endblock %}

{% block belowSubmit %}<p class="belowSubmit">Already have an account? <a href="/">Sign-in</a></p> {% endblock %}