<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add Product</title>    
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/signinup.css" rel="stylesheet">
        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="heading">Grocery Store</h1>
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <div class="flash-message" style="font-weight: bold; color: red;">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <br>
            
            <form class="form-signup" role="form" method="post">
                <h1 class="form-signup-heading">Add product</h1>
                <input type="text" class="form-control" placeholder="Name" name="name" required autofocus><br>
                <input type="text" class="form-control" placeholder="Description" name="description" required><br>
                <input type="text" class="form-control" placeholder="Price" name="price" required><br>
                <input type="tel" class="form-control" placeholder="Quantity" name="quantity" required><br>
                <input type="text" class="form-control" placeholder="Unit" name="unit" required><br>
                <input type="text" class="form-control" placeholder="Price Per Unit" name="pricePerUnit" required><br>
                <input type="text" class="form-control" placeholder="Category_id" name="category_id" required><br>
                <input type="text" class="form-control" placeholder="Manufacture date" name="manufacture_date" required><br>
                <input type="text" class="form-control" placeholder="Expiry date" name="expiry_date" required><br>
                <input type="text" class="form-control" placeholder="Image URL" name="image_url" required><br>
                <br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add product</button>
            </form>
        </div>
    </body>
</html>
