<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edit Product</title>    
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/signinup.css" rel="stylesheet">
        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="heading">Grocery Store</h1>
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <div class="flash-message" style="font-weight: bold; color: red;">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <br>
            
            <form class="form-signup" role="form" method="post">
                <h1 class="form-signup-heading">Edit product</h1>
                <input type="text" class="form-control" value="{{ product['name'] }}" name="name" required autofocus><br>
                <input type="text" class="form-control" value="{{ product['description'] }}" name="description" required><br>
                <input type="text" class="form-control" value="{{ product['price'] }}" name="price" required><br>
                <input type="tel" class="form-control" value="{{ product['quantity'] }}" name="quantity" required><br>
                <input type="text" class="form-control" value="{{ product['unit'] }}" name="unit" required><br>
                <input type="text" class="form-control" value="{{ product['pricePerUnit'] }}" name="pricePerUnit" required><br>
                <input type="text" class="form-control" value="{{ product['category_id'] }}" name="category_id" required><br>
                <input type="text" class="form-control" value="{{ product['manufacture_date'] }}" name="manufacture_date" required><br>
                <input type="text" class="form-control" value="{{ product['expiry_date'] }}" name="expiry_date" required><br>
                <input type="text" class="form-control" value="{{ product['image_url'] }}" name="image_url" required><br>
                <br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
            </form>
        </div>
    </body>
</html>
