<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add Category</title>    
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/signinup.css" rel="stylesheet">
        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="heading">Grocery Store</h1>
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <div class="flash-message" style="font-weight: bold; color: red;">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <br>
            
            <form class="form-signup" role="form" method="post">
                <h1 class="form-signup-heading">Edit Category</h1>
                <input type="text" class="form-control" placeholder="Name" value="{{ category['name'] }}" name="name" required autofocus><br>
                <input type="text" class="form-control" placeholder="Description" value="{{ category['description'] }}" name="description" required>
                <br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
            </form>
        </div>
    </body>
</html>
