<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            table {
              border-collapse: collapse;
              width: 100%;
            }
            td {
              padding: 10px;
              text-align: left;
              border-bottom: 1px solid #ddd;
            }
            .button-container {
                position: absolute;
                top: 35px; 
                right: 40px; 
                display: flex;
                gap: 15px;
            }
        </style>
        <title>Past Requests</title>
    </head>
    <body>
        <h1>Past Requests</h1>

        <div class="button-container">
            <button onclick="window.location.href='/storemng/{{ strmng_id }}/dashboard'">Back to Dashboard</button> 
        </div>

        <table>
            <thead>
                <tr>
                    <td>Update ID</td>
                    <td>Update Summary</td>
                    <td>Status</td>
                    <td>Update details page</td>
                </tr>
            </thead>
            <tbody>
                {% for i in past_requests %}
                    <tr>
                        <td>{{ i["update_id"] }}</td>
                        <td>{{ i["update_heading"] }}</td>
                        <td>{{ i["isApproved"] }}</td>
                        <td><a href='/storemng/{{ strmng_id }}/requestDetails/{{ i["update_id"] }}'>View Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </body>
</html>
