<!DOCTYPE html>
<html>
<head>
    <title>Pending Request</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .error-message {
            font-size: 24px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="error-message">
            <h1>Your Signup has been Rejected by the Admin.</h1>
            <p>Please sign-up again.</p>
        </div>
    </div>
</body>
</html>
