<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
</style>
</head>
<body>
    <div>
        <h1 style="text-align: center;">Categories</h1>
        <h3><a href="/storemng/{{ strmng_id }}/createRequest">Create an update request</a></h3>
        <h5><a href='/storemng/{{ strmng_id }}/dashboard'>Dashboard</a></h5>
        <table>
          <thead>
            <tr>
              <th>Category ID</th>
              <th>Category Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
              <tr>
                <td>{{ category['category_id'] }}</td>
                <td>{{ category['name'] }}</td>
                <td>{{ category['description'] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      </body>
      </html>
      