{% extends "dashboard/dashboard_base.html" %}

{% block title %}Customer Dashboard{% endblock %}

{% block additional_info %}
            <strong>Address:</strong> {{ address }} <br>
{% endblock %}

{% block buttons %}
    <button onclick="window.location.href='/customer/{{ id }}/searchProducts'">Start shopping</button> <br><br>
    <button onclick="window.location.href='/customer/{{ id }}/cart'">Cart</button> <br><br>
    <button onclick="window.location.href='/customer/{{ id }}/past_orders'">Past Orders</button> <br><br>
    <button onclick="window.location.href='/signout_customer'">Sign-out</button> 
{% endblock %}